.customers {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $link-tex-color;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;

    text-align: center;
    letter-spacing: 0.03em;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $link-tex-color;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $link-tex-color;
    margin-bottom: 50px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.customers__item {
  width: 100%;
  // height: 98px;

  @media screen and (min-width: 480px) {
    width: 480px;
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    width: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    width: calc((100% - 150px) / 6);
  }
}

.customers__logo {
  box-sizing: border-box;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: fill $ms-text-transition;
  transition-timing-function: $transition-text-effect;

  &:hover,
  &:focus {
    border-color: $logo-text-color;
  }

  &:hover .customers__icon,
  &:focus .customers__icon {
    fill: $logo-text-color;
  }
}

.customers__icon {
  fill: #afb1b8;
}
