.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__contact {
  display: none;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: flex;
    margin-left: auto;

    flex-direction: column;
    gap: 10px;

    font-family: "Roboto";
    font-style: normal;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    flex-direction: row;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.header__mail {
  //margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $auth-nav-text-color;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $logo-text-color;
  }
}
