.logo {
  //width: 145px;
  //margin-right: 93px;

  color: $logo-text-color;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (min-width: 480px) {
  }
}

.logo__header {
  color: $link-tex-color;
}
