$caption-text-color: #ffffff;
$link-tex-color: #212121;
$auth-nav-text-color: #757575;
$lead-text-color: #757575;
$item-text-color: rgba(255, 255, 255, 0.6);
$logo-text-color: #2196f3;
$subject-text-color: #2f303a;
$ordinary-text-color: #f5f4fa;
$ms-text-transition: 250ms linear;
$transition-text-effect: cubic-bezier(0.4, 0, 0.2, 1);
