.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  // background: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mobile-bg.jpg);
  }
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mobile-2x.jpg);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tablet-bg.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-tablet-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-desctop.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-desctop-2x.jpg);
    }
  }
}

.hero__content {
  padding: 0%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.hero__caption {
  margin-bottom: 30px;

  color: $caption-text-color;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  //max-width: 360px;
  max-width: 360px;

  @media screen and (min-width: 768px) {
    max-width: 768px;

    color: $caption-text-color;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    width: 360px;
  }

  @media screen and (min-width: 480px) {
    color: $caption-text-color;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;

    color: $caption-text-color;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    width: 696px;
  }
}

.hero__bth {
  cursor: pointer;
  border: $logo-text-color;
  width: 200px;
  height: 50px;
  color: $caption-text-color;
  background-color: $logo-text-color;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition: background-color $ms-text-transition color $ms-text-transition;
  transition-timing-function: $transition-text-effect;

  &:focus,
  &:hover {
    background-color: #188ce8;
  }

  @media screen and (min-width: 480px) {
    max-width: 480px;
    cursor: pointer;
    border: $logo-text-color;
    width: 200px;
    height: 50px;
    color: $caption-text-color;
    background-color: $logo-text-color;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    transition: background-color $ms-text-transition color $ms-text-transition;
    transition-timing-function: $transition-text-effect;

    &:focus,
    &:hover {
      background-color: #188ce8;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    cursor: pointer;
    border: $logo-text-color;
    width: 200px;
    height: 50px;
    color: $caption-text-color;
    background-color: $logo-text-color;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    transition: background-color $ms-text-transition color $ms-text-transition;
    transition-timing-function: $transition-text-effect;

    &:focus,
    &:hover {
      background-color: #188ce8;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    cursor: pointer;
    border: $logo-text-color;
    width: 216px;
    height: 50px;
    color: $caption-text-color;
    background-color: $logo-text-color;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    transition: background-color $ms-text-transition color $ms-text-transition;
    transition-timing-function: $transition-text-effect;

    &:focus,
    &:hover {
      background-color: #188ce8;
    }
  }
}
